.introduction {
  margin-top: 2em;
  text-align: center;
}

.introduction__punchline {
  margin-top: 0.6em;
  font-size: 66px;
  font-weight: 900;
  color: $color-black;
  line-height: 1;

  @include breakpoint('xs') {
    font-size: 40px;
  }
}

.introduction__underline {
  margin-top: $spacing-unit;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: $spacing-unit * 6;

  @include breakpoint('xs') {
    font-size: 18px;
  }
}

.introduction__buttons {
  display: flex;
}

.introduction__image {
  margin: auto;
  margin-top: 3em;
  max-width: 50%;
}

.introduction__down {
  margin-top: 1em;
  margin-bottom: 3em;
  cursor: pointer;
}

.introduction__code {
  margin-bottom: 4em !important;
  padding: 1em;
  border: 1px solid $color-gray-300;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.introduction__code_image {
  margin: auto;
  margin-top: 3em;
  @include breakpoint('xs') {
    max-width: 80%;
  }
  max-width: 50%;
}