.\+more-than-xs {
  @include breakpoint("xs") {
    display: none;
  }
}

.\+more-than-sm {
  @include breakpoint("sm") {
    display: none;
  }
}

.\+more-than-md {
  @include breakpoint("md") {
    display: none;
  }
}

.\+more-than-lg {
  @include breakpoint("lg") {
    display: none;
  }
}

.\+less-or-equal-than-xs {
  display: none;
  @include breakpoint("xs") {
    display: block;
  }
}

.\+less-or-equal-than-sm {
  display: none;
  @include breakpoint("sm") {
    display: block;
  }
}

.\+less-or-equal-than-md {
  display: none;
  @include breakpoint("md") {
    display: block;
  }
}

.\+less-or-equal-than-lg {
  display: none;
  @include breakpoint("lg") {
    display: block;
  }
}

.\+hidden {
  display: none;
}

.\+no-padding {
  padding: 0 !important;
}

.\+pointer {
  cursor: pointer;
}