/**
 * Base colors
 */

$color-black: black;
$color-white: white;

$color-tomato: #ea5758;

$color-gray-300: #DFE2E6;
$color-gray-400: #9CA3AF;
$color-gray-500: #6B7280;

/**
 * Functional colors
 */

$color-primary: $color-tomato;
$color-secondary: #303031;
$color-ternary: #3F3D56;
$color-background: #F9F9F9;
